* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  background-image: url(../archivos/fotos/fondomain.jpeg);
  border-bottom: 3px solid;
  position: fixed;
  -webkit-box-shadow: 16px 12px 38px 9px black;
  -moz-box-shadow: 16px 12px 38px 9px black;
  box-shadow: 16px 12px 38px 9px black;
  z-index: 9999; }

.navBar {
  background-image: url(../archivos/fotos/fondomain.jpeg); }
  .navBar li {
    display: flex;
    list-style: none;
    font-family: 'Dangrek', cursive; }
    .navBar li a {
      color: black;
      text-decoration: none; }

.logo {
  display: flex;
  height: 130px;
  width: 130px; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray; }

.parrafos-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  justify-content: center;
  align-items: center; }

.parrafos-footer ul li {
  list-style: none; }

.links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px; }

.links-footer a {
  padding: 25px; }

.logofb {
  height: 50px;
  width: 50px; }

.logoig {
  height: 50px;
  width: 50px; }

.maininicio {
  width: 100%;
  padding-top: 150px; }

.sectiongomeria-i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../archivos/fotos/dunlop-roadsmart4-detail-4-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 645px;
  width: 100%; }

.sectiongomeria-a {
  font-family: 'Dangrek', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 50px;
  -webkit-text-stroke: 2px black; }

.sectionconsecionaria-i {
  background-image: url(../archivos/fotos/fondoconcesionaria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 645px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 5px solid black; }

.sectionconsecionaria-a {
  font-family: 'Dangrek', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 50px;
  -webkit-text-stroke: 2px black; }

body {
  width: 100%; }

.agente {
  display: flex;
  justify-content: center;
  align-items: center; }

.agente h2 {
  padding-top: 250px; }

.agente img {
  padding-top: 250px; }

.cardcarousel {
  padding: 100px;
  gap: 80px; }
  .cardcarousel h2 {
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: white;
    font-size: 60px; }

.titulo-autos h2 {
  font-family: 'Dangrek', cursive;
  color: #c6c4c4; }

.carousel {
  height: 450px;
  width: 550px;
  gap: 50px; }

.carousel-item img {
  height: 450px;
  width: 550px;
  border: 5px solid black;
  border-radius: 15px; }

.carousel-inner {
  height: 450px;
  width: 650px; }

.caracteristicas {
  font-family: 'Dangrek', cursive;
  color: #c6c4c4;
  margin-right: 15px; }
  .caracteristicas ul li {
    padding: px;
    list-style: none; }

.main-cg {
  background-image: url(../archivos/valentino/nuevasbaja/fondometaliko.jpg);
  width: 100%; }

.main-cg {
  background-image: url(../archivos/valentino/nuevasbaja/fondometaliko.jpg);
  width: 100%; }

.logo-dunlop {
  height: 250px;
  width: 300px;
  padding-top: 150px; }

.distribuidor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Dangrek', cursive;
  font-size: 16px;
  padding-top: 150px;
  padding-bottom: 95px; }

.boton-g {
  margin-right: 75px; }

.card-gomasgeneral {
  flex-direction: column;
  padding: 100px;
  gap: 50px; }

.section-servg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../archivos/fotos/dunlop-roadsmart4-detail-4-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 645px;
  width: 100%;
  border: 5px solid black;
  gap: 120px; }

.section-servg h2 {
  font-family: 'Dangrek', cursive;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 50px; }

.section-servg ul {
  list-style: none;
  font-family: 'Dangrek', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 20px; }

.section-servc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../archivos/fotos/fondoconcesionaria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 645px;
  width: 100%;
  border: 5px solid black;
  gap: 120px; }

.section-servc h2 {
  font-family: 'Dangrek', cursive;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 50px; }

.section-servc ul {
  list-style: none;
  font-family: 'Dangrek', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 20px; }

.mainContacto {
  padding-top: 180px;
  height: 120vh; }

.iframeMap {
  display: flex;
  align-items: center;
  justify-content: center; }

.card-completa {
  -webkit-box-shadow: 16px 12px 38px 9px black;
  -moz-box-shadow: 16px 12px 38px 9px black;
  box-shadow: 16px 12px 38px 9px black; }

.card-completa2 {
  background-color: #d1b40f;
  border: solid 4px black;
  border-radius: 5px; }

@media (max-width: 768px) {
  .carousel {
    width: 380px;
    height: 280px; }
  .carousel-item img {
    width: 380px;
    height: 280px; }
  .navBar {
    display: flex; } }

@media (max-width: 576px) {
  body {
    width: 100%; }
  /*header*/
  .navBar li a {
    color: black;
    text-decoration: none; }
  .logo {
    display: flex;
    height: 85px;
    width: 100px; }
  .carousel {
    width: 320px;
    height: 250px; }
  .carousel-item img {
    width: 320px;
    height: 250px; }
  /*GOMERIA*/ }
