.maininicio{
  width: 100%;
  padding-top: 150px;
}

.sectiongomeria-i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../archivos/fotos/dunlop-roadsmart4-detail-4-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 645px;
    width: 100%;
  
  }
  
  .sectiongomeria-a {
    font-family: 'Dangrek', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 50px;
  }
  
  .sectionconsecionaria-i {
    background-image: url(../../archivos/fotos/fondoconcesionaria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 645px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:5px solid black;
  }
  
  .sectionconsecionaria-a {
    font-family: 'Dangrek', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 50px;
  }