@media (max-width: 576px) { 
    body {
        width: 100%;
    }
    
    
    /*header*/
    
        
    .navBar li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    .logo {
        display: flex;
        height: 85px;
        width: 100px;
        
        
    }
    
    .carousel {
        width: 300px;
        height: 220px;
        
    }
    

    .carousel-item img  {
        
        width: 300px ;
        height: 220px;
    }
    /*GOMERIA*/
 
}