@media (max-width: 768px) {  
    .carousel {
        width: 500px;
        height: 280px;
        
    }
    .carousel-item img  {
        
        width: 500px ;
        height: 280px;
    }

    .navBar {
        display: flex;
        
    }
}