@media (max-width: 768px) {  
    .carousel {
        width: 380px;
        height: 280px;
        
    }
    .carousel-item img  {
        
        width: 380px ;
        height: 280px;
    }

    .navBar {
        display: flex;
        
    }
    .maininicio {
        padding-top: 76px;
    }
}